# Example env file for local development with Mailtrap
# Do NOT store real credentials in version control. Copy to `.env` and fill values.
MAILTRAP_USERNAME=2c7a61e90940d1
MAILTRAP_PASSWORD=4d25d252adada6